@import "../App.scss";


.episode-jumbo {
  background-color: #DDDDDD;
  color: #000000;
  margin: 2em;
  overflow: hidden;
}

.episode-jumbo h2 {
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 5em;
}

