
h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 4em;
}

.logo{
  max-height: 4em;
  vertical-align: middle;
}

.outer{
  margin: 2em 2em 2em 2em;
}

.headerDiv{
  text-align: center;
}

.headerLink{
  color: #ffffff;
}

.headerLink:hover{
  color: #ffffff;
  text-decoration: none;
}