

.episode-jumbo {
  background-color: #DDDDDD !important;
  color: #000000;
  margin: 2em;
  overflow: hidden;
}

.episode-jumbo h2 {
  text-align: center;
}

.episode-jumbo .imgContainer{
  margin: -4rem -2rem 0 -2rem;
  max-height: 15em;
  background-color: #243856;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img{
  flex-shrink: 0;
  width: 100%;
  min-height: 100%
}
